#banner {
	background-color: darkslategrey;
	color: ivory;
	padding: 2%;
}
#footer {
	text-align: center; 
	background-color: darkslategrey; 
	padding: 4%; 
	margin-top: 5%;
	color: ivory;
}
#listbox {
	padding: 2%;
}
pre.prettyprint{
	border-color: lightgrey;
	background-color: ghostwhite;

}
.blogPostLink{
	color: darkslategrey;
	text-decoration: none;
}
.card{
	margin: 1%;
}
